/* Add this to your 'style.css' file */
body {
    background-image: url("{% static 'images/resort11.jpg' %}"); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #333; /* Fallback background color */
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.7); /* Background color for the form container with some transparency */
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px; /* Adjust this margin as needed */
}

/* Center the form elements */
.form-group {
    text-align: left;
}
